<div class="pt-4">
    <div id="result-toast-container" class="mb-4"></div>
    <h2 class="fw-bold mb-4">Composition Media</h2>
    <div class="glass-card p-4 col-md-8">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label text-secondary">Vidéo (Source)</label>
                <select id="compose-video" class="form-select bg-dark text-white border-0 file-select"></select>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label text-secondary">Audio (Background)</label>
                <select id="compose-audio" class="form-select bg-dark text-white border-0 file-select"></select>
            </div>
        </div>
        <button onclick="Render.compose()" class="btn btn-premium mt-3">Lancer la composition</button>
    </div>
</div>
